In [62]:
import pandas as pd
df=pd.read_csv('melb_data.csv')

In [2]:
print(df.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [3]:
print(df.tail())

              Suburb        Address  Rooms Type      Price Method   SellerG  \
13575  Wheelers Hill   12 Strada Cr      4    h  1245000.0      S     Barry
13576   Williamstown  77 Merrett Dr      3    h  1031000.0     SP  Williams
13577   Williamstown    83 Power St      3    h  1170000.0      S     Raine
13578   Williamstown   96 Verdon St      4    h  2500000.0     PI   Sweeney
13579     Yarraville     6 Agnes St      4    h  1285000.0     SP   Village

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
13575  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[5 rows x 21 columns]

In [5]:
print(df.dtypes)

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [6]:
print(df.describe())

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [8]:
print(df.shape)

(13580, 21)

In [10]:
print(df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
None

In [12]:
print(df.isnull().sum())

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## Data selection and filtering

In [13]:
print(df['Suburb'])

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [17]:
print(df['Regionname'], ['Propertycount'])

0             Northern Metropolitan
1             Northern Metropolitan
2             Northern Metropolitan
3             Northern Metropolitan
4             Northern Metropolitan
                    ...
13575    South-Eastern Metropolitan
13576          Western Metropolitan
13577          Western Metropolitan
13578          Western Metropolitan
13579          Western Metropolitan
Name: Regionname, Length: 13580, dtype: object ['Propertycount']

In [20]:
df1=df[df['Price']>850000]
print(df1.shape)

(7446, 21)

In [23]:
print(df.iloc[13579])      # 13579 is the index of the row

Suburb                     Yarraville
Address                    6 Agnes St
Rooms                               4
Type                                h
Price                       1285000.0
Method                             SP
SellerG                       Village
Date                       26/08/2017
Distance                          6.3
Postcode                       3013.0
Bedroom2                          4.0
Bathroom                          1.0
Car                               1.0
Landsize                        362.0
BuildingArea                    112.0
YearBuilt                      1920.0
CouncilArea                       NaN
Lattitude                   -37.81188
Longtitude                  144.88449
Regionname       Western Metropolitan
Propertycount                  6543.0
Name: 13579, dtype: object

In [25]:
print(df.iloc[0:5])     # display the rows from index 0 to 5-1 index

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [27]:
print(df['YearBuilt'])

0           NaN
1        1900.0
2        1900.0
3           NaN
4        2014.0
          ...
13575    1981.0
13576    1995.0
13577    1997.0
13578    1920.0
13579    1920.0
Name: YearBuilt, Length: 13580, dtype: float64

In [36]:
df2=df[(df['YearBuilt']>=1995) & (df['YearBuilt']<=2005)]
print(df2)
df2.shape

             Suburb           Address  Rooms Type      Price Method   SellerG  \
11       Abbotsford   40 Nicholson St      3    h  1350000.0     VB    Nelson
35       Abbotsford       45 Yarra St      3    h  1195000.0     SP    Jellis
58     Airport West    4/54 Hawker St      2    u   462500.0      S     Barry
65     Airport West   144 Marshall Rd      3    h   715000.0      S   Rendina
87      Albert Park      1 Moubray St      3    h  1800000.0     VB      Greg
...             ...               ...    ...  ...        ...    ...       ...
13543     St Albans  33 Moonstone Cct      4    h   537000.0      S       YPA
13548       Sunbury    64 Stewarts La      3    h   605000.0      S       One
13556       Tarneit     27 McMahon Cr      3    h   350000.0     VB       S&L
13576  Williamstown     77 Merrett Dr      3    h  1031000.0     SP  Williams
13577  Williamstown       83 Power St      3    h  1170000.0      S     Raine

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
11     12/11/2016       2.5    3067.0  ...       2.0  2.0     214.0
35     27/11/2016       2.5    3067.0  ...       2.0  1.0     120.0
58     16/07/2016      13.5    3042.0  ...       1.0  1.0     164.0
65     18/03/2017      13.5    3042.0  ...       2.0  2.0     422.0
87      7/11/2016       3.3    3206.0  ...       2.0  1.0     132.0
...           ...       ...       ...  ...       ...  ...       ...
13543  26/08/2017      14.0    3021.0  ...       2.0  2.0     447.0
13548  26/08/2017      31.7    3429.0  ...       2.0  2.0     755.0
13556  26/08/2017      18.4    3029.0  ...       1.0  1.0     466.0
13576  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0

       BuildingArea  YearBuilt    CouncilArea Lattitude  Longtitude  \
11            190.0     2005.0          Yarra -37.80850   144.99640
35            128.0     1998.0          Yarra -37.80220   144.99540
58              NaN     2003.0  Moonee Valley -37.72180   144.88630
65            126.0     1995.0  Moonee Valley -37.71640   144.87920
87            159.0     1996.0   Port Phillip -37.84150   144.95200
...             ...        ...            ...       ...         ...
13543         134.0     1996.0            NaN -37.75405   144.82014
13548         229.0     1996.0            NaN -37.56533   144.71233
13556         103.0     2003.0            NaN -37.86744   144.65609
13576         133.0     1995.0            NaN -37.85927   144.87904
13577           NaN     1997.0            NaN -37.85274   144.88738

                  Regionname Propertycount
11     Northern Metropolitan        4019.0
35     Northern Metropolitan        4019.0
58      Western Metropolitan        3464.0
65      Western Metropolitan        3464.0
87     Southern Metropolitan        3280.0
...                      ...           ...
13543   Western Metropolitan       14042.0
13548   Western Metropolitan       14092.0
13556   Western Metropolitan       10160.0
13576   Western Metropolitan        6380.0
13577   Western Metropolitan        6380.0

[1067 rows x 21 columns]

(1067, 21)

In [39]:
import pandas as pd
from datetime import datetime

# Find the latest year in the 'YearBuilt' column
newest_year = df['YearBuilt'].max()
print(newest_year)

# Get the current year
current_year = datetime.now().year

# Calculate the age of the newest house
age_of_newest_house = current_year - newest_year

print(f"The age of the newest house is: {age_of_newest_house} years")

2018.0
The age of the newest house is: 6.0 years

###What is the average price of houses sold in first suburb?

In [64]:
# Suburb_distinct_values = df['Suburb'].unique()
# print(Suburb_distinct_values)
# print(Suburb_distinct_values==)
houses=df[df['Suburb'] == 'Abbotsford']
# print(houses)
# houses.shape
#average_prices=sum(houses['Price'])/len(houses)
houses['Price'].mean()
#print(average_prices)

1060366.0714285714

##Which suburb has the highest average house price?

In [76]:
#print(df)

#df['Suburb'].unique()


average_prices=df.groupby('Suburb')['Price'].mean()
print(average_prices.max())

2185000.0

##How many properties have more than 3 bedrooms?

##Which year has the highest number of houses built?

##What is the average price of the houses with or without the garage?

In [ ]:
print(avg_price)

###What is the most common number of rooms in the houses sold?

##Data cleaning

In [59]:
# df.shape
# df_cleaned=df.dropna()    # Droping NaN value
# df.shape
#df_filled=df.fillna(0)    # Fill missing values(NaN) to 0(zero)
df_dropped=df.drop(columns=['Address'])
#print(df_dropped)
df_dropped.shape
df_cleaned.to_csv('New_melb_data.csv',index=False)
#df_filled.to_excel('Newexcel_melb_data.xlsx',index=False)

##Decision Tree Regression

In [78]:
import pandas as pd
melbourne_data_df = pd.read_csv('melb_data.csv')

melbourne_data_df=melbourne_data_df.dropna(axis=0)

features = ['Rooms', 'Bathroom', 'Bedroom2', 'Landsize', 'BuildingArea', 'YearBuilt']
X = melbourne_data_df[features]
y = melbourne_data_df['Price']

from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X, y)

print(melbourne_model.predict(X.head()))      # Predicted value
print(y.head())                             # To compare predicted value to actual value

[1035000. 1465000. 1600000. 1876000. 1636000.]
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [79]:
import pandas as pd
melbourne_data_df = pd.read_csv('melb_data.csv')

melbourne_data_df=melbourne_data_df.dropna(axis=0)

features = ['Rooms', 'Bathroom', 'Bedroom2', 'Landsize', 'BuildingArea', 'YearBuilt']
X = melbourne_data_df[features]
y = melbourne_data_df['Price']

from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X, y)
predicted_home_prices = melbourne_model.predict(X)     # Overfitting

from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, predicted_home_prices)

3708.99763997569

In [83]:
import pandas as pd
melbourne_data_df = pd.read_csv('melb_data.csv')
melbourne_data_df=melbourne_data_df.dropna(axis=0)
features = ['Rooms', 'Bathroom', 'Bedroom2', 'Landsize', 'BuildingArea', 'YearBuilt']
X = melbourne_data_df[features]
y = melbourne_data_df['Price']

from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(train_X, train_y)

from sklearn.metrics import mean_absolute_error
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

383703.3434473854

In [86]:
import pandas as pd
melbourne_data_df = pd.read_csv('melb_data.csv')
melbourne_data_df=melbourne_data_df.dropna(axis=0)
features = ['Rooms', 'Bathroom', 'Bedroom2', 'Landsize', 'BuildingArea', 'YearBuilt']
X = melbourne_data_df[features]
y = melbourne_data_df['Price']
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)

forest_model.fit(train_X, train_y)

melb_preds = forest_model.predict(val_X)

print(mean_absolute_error(val_y, melb_preds))

286271.8952237341

#Bengaluru Housing

In [100]:
import pandas as pd
bdf=pd.read_csv('Bengaluru_housing_train.csv')

#bdf.head()
# bdf.columns
#bdf.shape         # 1460 X 81
#bengaluru_data_df=bdf.dropna(axis=0)
#bengaluru_data_df.shape      # Each sample has missing value

features = ['MSSubClass', 'YearBuilt', 'FullBath']

X = bdf[features]
y = bdf['SalePrice']

from sklearn.ensemble import RandomForestRegressor


forest_model = RandomForestRegressor(random_state=1)

forest_model.fit(X,y)

test_bdf=pd.read_csv('Bengaluru_housing_test.csv')
test_features = ['MSSubClass', 'YearBuilt', 'FullBath']

test_X = test_bdf[test_features]



bengaluru_preds = forest_model.predict(test_X)
print(bengaluru_preds)

[133180.06204665 135956.33837207 215006.17281795 ... 160492.20158134
 155068.         227372.02266923]